Click==7.0
Flask==1.0.2
Flask-WTF==0.14.2
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
certifi==2018.8.24
chardet==3.0.4
coverage==5.0a3
docopt==0.6.2
idna==2.7
itsdangerous==0.24
pip==18.1
pipreqs==0.4.9
requests==2.19.1
setuptools==40.4.3
urllib3==1.23
yarg==0.1.9

