{% extends "layout.html" %}

{% block content %}
    {% if user is not none %}

        <div id="user-bar-div">
            <p>Hi {{ user }} <a href="/">Log out</a></p>
        </div>
        {# If logged-in display "save" button to save the subject's data and
        "saved searches" button to render user's saved searches page#}
        <div id="search-bar-div">
            <form action="/{{ user }}/result" method="POST">
                    <H1>Search for...</H1> <input type="text" name="search"> <input type="submit" value="Submit">
            </form>
        </div>

    {% else %}

        <div id="user-bar-div">
            <p><a href="/signup">Sign up</a> or <a href="/login">Log in</a></p>
        </div>

        <div id="search-bar-div">
            <form action="/result" method="POST">
                    <H1>Search for...</H1> <input type="text" name="search"> <input type="submit" value="Submit">
            </form>
        </div>

    {% endif %}

    {% if search_text %}

    <div id="title-pic-div">
    <h1>{{ search_text }}</h1>
    {% if image_url %}
        <img src="{{ image_url }} alt={{ search_text }}">
    {% endif %}
    </div>

    <div id="desc-div">
    {% if description %}
        <p>Wiki says:</p>
        <p>{{ description }}</p>
    {% endif %}

    <p>Read more about {{ search_text }} on Wikipedia: <a href="https://en.wikipedia.org/wiki/{{ search_text }}">https://en.wikipedia.org/wiki/{{ search_text }}</a></p>
    </div>

    <div>
    {% if user is undefined %}
        <form>
            <input type="submit" value="Save">
        </form>

    {% endif %}
    </div>

    {% endif %}
{% endblock content %}