<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saved Searches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div>
        <h1>Saved searches</h1>

        {% if search %}
            {% for s in search %}

            {% endfor %}

        {% else %}

            <p>You have no saved searches yet :(</p>

        {% endif %}
    </div>

</body>
</html>